body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f4f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    height: 40px;
    background-color: #a81bbb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a81bbb;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}

.animate {
    animation: animate 2s;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}